NGINX_VERSION=latest
NGINX_METRICS_ENABLED=false
DEFECT_DOJO_OS=debian
DD_UWSGI_HOST=uwsgi
DD_UWSGI_PORT=3031
DD_PORT=8080
DD_TLS_PORT=8443
DJANGO_VERSION=latest
DD_DATABASE_HOST=postgres
DD_DATABASE_PORT=5432
DD_DJANGO_METRICS_ENABLED=False
DD_ALLOWED_HOSTS=*
DD_DATABASE_URL=postgresql://defectdojo_usr:defectdojo_pwd@postgres:5432/defectdojo_db
DD_CELERY_BROKER_URL=redis://valkey:6379/0

# openssl rand -base64 32
DD_SECRET_KEY=64/0z8Ck5NTzIeq80RTt/OKlSzighX+5q3ntSaKYejI=
DD_CREDENTIAL_AES_256_KEY=yNIaXkrVJYblYRzKitwjIXAXAB7gGnEa4dhHSYfJePM=

DD_DATABASE_READINESS_TIMEOUT=30
DD_MEDIA_ROOT=/app/media
DD_ADMIN_USER=admin
DD_ADMIN_FIRST_NAME=Admin
DD_ADMIN_LAST_NAME=User
DD_INITIALIZE=true
DD_DATABASE_NAME=defectdojo_db
DD_DATABASE_USER=defectdojo_usr
DD_DATABASE_PASSWORD=defectdojo_pwd
